---
---

@import "{{ site.theme }}";
$fa-font-path: "/assets/fonts/font-awesome";
@import "font-awesome";

.page-header {
  @include large {
    padding: 2rem;
  }

  @include medium {
    padding: 1rem;
  }

  @include small {
    padding: 0.5rem;
  }

  a {
    color: $header-heading-color;
  }
}

.main-content {
  @include large {
    max-width: $large-breakpoint + 20em;
    padding: 2rem 20rem 2rem 2rem;
  }
}

.main-menu {
  &:before {
    content: 'Inhalt';
    color: $section-headings-color;
  }
  word-wrap: break-word;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;

  @include large {
    top: 18rem;
    width: 20rem;
    padding: 0 1rem;
    margin: 0 auto;
  }

  @include medium {
    display: none;
  }

  @include small {
    display: none;
  }
}

html:lang(en) {
  .main-menu {
    &:before {
      content: 'Content';
    }
  }
}

@media print {
  .main-menu {
    display: none;
  }
}

.nav-wrapper {
  height: 2rem;
}

.nav-menu-wrapper, .nav-lang-wrapper {
  float: left;
  line-height: 2em;
}

.nav-lang-wrapper {
  float: right;
}

.nav-menu-wrapper {
  @include small {
    display: none;
  }
}

ul.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    display: inline;
  }

  li a, li span {
    text-align: center;
    padding: 0.5rem;
  }
}

@mixin fasicon($name) {
  &:before {
    padding-right: 0.4rem;
    @extend .fas;
  }
  @extend .fa-#{$name};
}

@mixin fabicon($name) {
  &:before {
    padding-right: 0.4rem;
    @extend .fab;
  }
  @extend .fa-#{$name};
}

.main-content .usb, .usb {
  @include fabicon(usb);
}

.main-content .rpi, .rpi {
  @include fabicon(raspberry-pi);
}

.main-content .wifi, .wifi {
  @include fasicon(wifi);
}

.main-content .ethernet, .ethernet {
  @include fasicon(network-wired);
}

details {
  summary {
    @include fasicon(caret-right);
    &::-webkit-details-marker {
      display: none;
    }
  }
  &.open, &[open] {
    summary {
      @include fasicon(caret-down);
    }
  }
}
